<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- context:component-scan标签指定了查找组件的包名 -->
	<!-- SimpleJaxWsServiceExporter类的baseAddress属性用于指定webservice的根路径， -->
	<!-- 完整的web服务地址=根路径+WebService名称。 -->

	<!-- 通过地址http://localhost:8089/services/MyService?wsdl查看WSDL文档。 -->

	<context:component-scan base-package="org.quickstart.webservice.jws.server"></context:component-scan>
	<bean class="org.springframework.remoting.jaxws.SimpleJaxWsServiceExporter">
		<property name="baseAddress" value="http://localhost:8089/services/" />
	</bean>

</beans>
